body{
    background-color: rgb(255, 247, 230);
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0%{
        opacity: .2;
    }

    100%{
       opacity: 1;
    }
}

#header{
    background-color: rgb(26, 58, 26);
    height: 50px;
    width: 100%;
    position: absolute;
    position: absolute;
    border-bottom: solid;
    display: flex;
    flex-direction: row;
}

#logoContainter{
    height: fit-content;
    width: fit-content;
    margin-left: 45%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    animation: dropDown 3s;
    /* margin: auto; */
    
}

@keyframes dropDown {
    0%{
        margin-top: -10%;
    }

    100%{
        margin-top: 0px;
    }
}


#logo{
    color: white;
    font-size: 200%;    
    /* height: 20px; */
    width: fit-content;
    /* animation: dropDown 2s; */
}

#logoBoxContainer{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-left: 10px;
    box-sizing:border-box;
}

.logoBox{
    height: 5px;
    width: 5px;
    margin-top: 5px;
    background-color: lightgoldenrodyellow;
    box-sizing:border-box;
}

#createNewProject{
    float: right;
    width: fit-content;
    margin-left: 20%;
}

.hideForm{
    height: 80%;
    width: 50%;
    background-color: rgb(26, 58, 26);
    z-index: 1;
    margin-top: 20px;
    margin-left: 14%;
    position: absolute;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,1.59), 0 6px 6px rgba(0,0,0,0.23);
    /* animation: fadeEffect .5s; */
    border: groove;
    border-color: rgb(27, 82, 11);
    display: flex;
    flex-direction: column;
    animation: fadeOutEffect 1s;
    visibility: hidden;
}
/* 
@keyframes fadeOutEffect{
    0%{
        opacity: 1;
        visibility:visible;
    }

    100%{
        opacity: .1;
        visibility: visible;
    }
} */


.newForm{
    height: 80%;
    width: 50%;
    background-color: rgb(26, 58, 26);
    z-index: 1;
    margin-top: 20px;
    margin-left: 14%;
    position: absolute;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,1.59), 0 6px 6px rgba(0,0,0,0.23);
    animation: fadeInEffect .5s;
    border: groove;
    border-color: rgb(27, 82, 11);
    display: flex;
    flex-direction: column;
    
}

.newTaskForm{
    height: 80%;
    width: 50%;
    background-color: rgb(26, 58, 26);
    z-index: 1;
    margin-top: 20px;
    margin-left: 14%;
    position: absolute;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,1.59), 0 6px 6px rgba(0,0,0,0.23);
    animation: fadeInEffect .5s;
    border: groove;
    border-color: rgb(27, 82, 11);
    display: flex;
    flex-direction: column;
    
}

@keyframes fadeInEffect{
    0%{
        opacity: .1;
    }

    100%{
        opacity: 1;
    }
}

.formItem{
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    margin-top: 5px;
}


#addProjectButton{
    /* position: relative;
    float: right;
    bottom: 0%; */
}



#mainContent{
    margin-top: 45px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing:border-box;
    position:fixed; /* reason page won't scroll down will need to be fixed */
}

#sideBar{
    height: 100%;
    width: 20%;
    background-color: rgb(36, 80, 36);
    color: white;
    /* font-size: 200%; */
    border-right: solid;
    border-top: solid;
    border-color: black;
    text-align: center;
    /* box-sizing:border-box;  */
}

.sideBarProjectList{
    color: white;
    font-size: 100%;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 5px;
}

#projectDisplay{
    border-top: solid;
    height: 100%;
    width: 80%;
    background-color: rgb(255, 255, 223);
    z-index: -1;
    position: relative;
}

#currentProjectTitle{
    font-size: 200%; 
    text-align: center;
    width: 50%;
    text-decoration: underline;
    margin-left: 14%;
    height: fit-content;
    z-index: 0;
    position: relative;
}

#projectContent{
    margin-left: 14%;
    min-height: 300px;
    width: 50%;
    background-color: rgb(36, 80, 36);
    color: white;
    /* margin: auto; */
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    max-height: fit-content;
    z-index: -1;
    position: absolute;
}

/* style for each task, bullet, due date and priority container */
.taskContainer{
    width: 100%;
    height: fit-content;
    cursor: pointer;
}


